#main_sidebar {
  color: var(--text-base);
  background: var(--background1);
}

.wptg-sidebar {
  .sidebar-widget-area {
    margin: 0 auto;
  }
}

.wptg-sidebar-left .wptg-sidebar .sidebar-widget-area h3, .wptg-sidebar-right .wptg-sidebar .sidebar-widget-area h3 {
  margin: 16px auto;
  text-align: left;
  font-family: var(--font1);
}

:root {
  --color1: $color1;
  --color2: $color2;
  --background1: $background1;
  --background2: $background2;
  --navbar-color: $navbar-color;
  --text-base: $text-base;
  --heading-base: $heading-base;
  --navbar-background: $navbar-background;
  --sidebar-color: $sidebar-color;
  --sidebar-background: $sidebar-background;
  --footer-color: $footer-color;
  --footer-background: $footer-background;
  --font1: $font1;
  --font2: $font2;
}  

#wptg-main-sidebar{
  // max-width: 33%; 
  background-color: var(--background1);
  padding: 0;
  padding-top: 20px;
  .sidebar-widget-area{
      display: block;
      margin: 0 auto 60px auto;
      position: relative;
      text-align: center;
      max-width: 367px;
      font-family: var(--font2);
      margin: 0 25px 50px;
      // overflow: hidden;
      // background-color: white;
      z-index: 1;
      &:before{
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: var(--color2);
          border: 1px solid var(--heading-base);
          top: 0;
          left: 0;
          opacity: 0.1;
          z-index: -1;
      }
      h2.sidebar-widget-title{ 
          text-transform: uppercase;
          margin: 0 auto;
          padding: 10px 20px;
          position: relative;
          text-align: left;
          font-size: 14px;
          font-family: var(--font1);
          // color: var(--heading-base);
          color: var(--background1); 
          // background-color:var(--background1);
          z-index: 1;
          &:before{
              content: "";
              width: 100%;
              height: 100%;
              background-color: var(--heading-base);
              position: absolute;
              // border: 1px solid var(--heading-base);
              top: 0;
              left: 0;
              opacity: 0.2;
              z-index: -1;
          }
      }
      // search section
      form.search-form{
          display: block;
          position: relative;
          justify-content: center;           
          label{
              display: block;
              position: relative;
              margin: 0;
              // padding: 20px 30px;
              
              span.screen-reader-text{
                  display: none;
                  padding: 0;
                  margin: 0;
              }
              input.search-field{
                  position: relative;
                  padding: 0;
                  margin: 0;
                  outline-offset: 0;
                  height: 43px;
                  width: 100%;
                  padding-left: 25px;
                  border: 0;
                  text-rendering: auto;
                  color: initial;
                  letter-spacing: normal;
                  word-spacing: normal;
                  text-transform: none;
                  text-indent: 0px;
                  text-shadow: none;
                  display: block;
                  text-align: start;
                  position: relative;
                  top: 0;
                  border-radius: 5px;
                  font-family: var(--font2);
              }
          }
          button.search-submit{
              position: absolute;
              top: 0px;
              right: 0px;
              width: 50px;
              height: 43px;
              border: 0;
              padding: 0;
              margin: 0;
              
              background: none;
              transition: all 0.2s ease-out;
              &:hover{
                  background-color: transparent;
                  transition: all 0.2s ease-out;
                  cursor: pointer;
                  i{
                      color: #000;
                  }
              }
              i{
                  color: #636363;;
              }
              span.screen-reader-text{
                  display: none;
              }
          }
      }
      // about me section
      img{
          position: relative;
          margin: 30px 0;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          &:before{
              content: "";
              display: block;
              padding-bottom: 100%;
          }
      }
      p{
          padding: 0 25px;
          padding-bottom: 30px;
          text-align: left;
          line-height: 1.4;
          font-family: var(--font2);
          color: var(--text-base);
      }
      // recent posts section 
      ul{
          position: relative;
          list-style: none;
          padding: 0;
          margin: 0;
          padding-bottom: 35px;
          padding-top: 15px;
          margin: 0 0 15px 0;
          padding-left: 15px;
          &:before {
              content: "";
              display: block;
              top: 15px;
              left: 19px;
              position: absolute;
              background-color: gray;
              width: 2px;
              height: calc(100% - 30px);
          }
          li{
              display: flex;
              flex-flow: column-reverse nowrap;
              position: relative;
              text-align: left;
              padding: 10px 30px;
              transition: all .3s ease-in-out;
              width: calc(100% - 5px);
              &:before{
                  content: "";
                  display: block;
                  position: absolute;
                  left: -2.5px;
                  top: calc(40% - 2.5px);
                  width: 15px;
                  height: 15px;
                  background-color: var(--background1);
                  border-radius: 50%;
                  // opacity: .1;
                  // border: 3px solid var(--background1);
                  transition: all 0.2s linear;
              }
              &:nth-child(3n+1):after {
                  content: "";
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 40%;
                  width: 10px;
                  height: 10px;
                  background-color: var(--color1);
                  border-radius: 50%;
                  // border: 3px solid var(--background1);
                  transition: all 0.2s linear;
              }
              &:nth-child(3n+2):after {
                  content: "";
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 40%;
                  width: 10px;
                  height: 10px;
                  background-color: var(--heading-base);
                  border-radius: 50%;
                  // border: 3px solid white;
                  transition: all 0.2s linear;
              }
              &:nth-child(3n+3):after {
                  content: "";
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 40%;
                  width: 10px;
                  height: 10px;
                  background-color: var(--color2);
                  border-radius: 50%;
                  // border: 3px solid white;
                  transition: all 0.2s linear;
              }
              &:hover{ 
                  padding-left: 35px;
                  a{
                      &:link, &:visited{
                      color: gray;
                      transition: all 0.2s linear;
                      }
                  }
                  &:before{
                      content: "";
                      // background-color: gray;
                      transform: scale(1.5, 1.5);
                      transition: all 0.2s linear;
                  }
                  &:after{
                      content: "";
                      background-color: gray;
                      transform: scale(1.5, 1.5);
                      transition: all 0.2s linear;
                  }
              }
              a{
                  position: relative;
                  font-size: 17px;
                  font-family: var(--font2);
                  font-weight: 500;
                  background-image: none;
                  transition: all 0.2s ease-in;
                  z-index: 99;
                  &:before{
                      content: "";
                      position: absolute;
                      width: 0%;
                      height: 100%;
                      background-color: var(--color2);
                      z-index: -1;
                      transition: all 0.2s ease-in;
                  }
                  &:link, &:visited{
                      position: relative;
                      text-decoration: none;
                      color: var(--text-base);
                      z-index: 99;
                  }
                  &:hover{
                      position: relative;
                      // color: var(--text-base);
                      z-index: 99;
                      &:before{
                          text-align: left;
                          // width: 100%;
                          z-index: -1;
                          transition: all 0.2s ease-in;
                      }
                  }
              }
              span.post-date{
                  // display: none;
                  // padding-left: 20px;
                  font-size: 70%;
                  color: gray;    
              }
          }
      } 
      // tags section     
      ul.tagcloud{
          padding: 30px 20px;
          font-size: 18px;
          &:before {
              content: "";
              display: block;
              top: 15px;
              left: 20px;
              position: absolute;
              width: 0px;
          }
          a{
              display: block;
              text-align: left;
              font-family: var(--font2);
              transform: scale(.9, 1);
              transition: all .3s ease-in-out;
              // &:before{
              //     content: "\f105";
              //     font-family: fontawesome;
              //     padding-right:15px; 
              // }
              &:link, &:visited{
                  text-decoration: none;
                  color: var(--heading-base);
              }
              &:hover{
                  color: var(--color2);
                  transform: scale(1, 1);
              }
          }
      }
  }
}
