html, body {
    background-color: #fff;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}
.c {
    text-align: center;
}
p {
    line-height: 175%;
}
header {
    border-top: 3px #F7C64A solid;
    box-shadow: 0 6px 48px rgba(69, 69, 69, 0.08);
    text-align: center;
    padding:25px;
    font-size: large;
}
.margium {
    display: block;
    margin: 0px auto;
    max-width: 1000px;
    position: inherit;
}
.margium-s {
    display: block;
    margin: 0px auto;
    max-width: 500px;
    position: inherit;
}
h1 {
    font-size: xx-large;
}
.incitation a {
    padding: 9px 25px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    margin:5px;
    border-radius: 3px;
}
a.plein {
    background-color: #F7C64A ;
}
.vide {
    height: 80px;
}
#presentation {
    background-image:url("{{ asset('img/premiere.jpg') }}");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 60px 0px;
}
#presentation h1{
    color: #fff;
    max-width: 620px;
}
#presentation p{
    color: #fff;
    max-width: 520px;
    margin-bottom: 50px;
    line-height: 175%;
}
.surcouche {
    position: absolute;
    top: 0; bottom: 0px ; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.6)
}

img.visuelvote {
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);

}
.card {
    background-color: white;
}
.liste {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px auto;
}
.liste img {
    width: 308px;
    border-radius: 5px;
}
.liste a {
    padding: 12px 12px 20px 12px;
    position: relative;
    text-decoration: none;
}
.liste span {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#484848;
    padding: 8px 12px;
}
@media (max-width: 1010px), handheld {
    .liste {
        max-width: 670px;
    }
 }
 @media (max-width: 680px), handheld {
    .liste {
        max-width: 330px;
    }
 }

   
  
  /* NAVBAR BRAND ICON */
  .navbar-brand-icon .element_inner {
    fill: var(--color1);
  }
  
  .navbar-brand-icon .element_outer {
    fill: var(--color2);
  }
  
  .navbar-brand-icon .element_font {
    fill: var(--background1);
  }
  
  .navbar-brand-icon .title_brand,
  .navbar-brand-icon .title_brand tspan {
    font-family: var(--font1);
  }
  
  .navbar-brand-icon .slogan_brand,
  .navbar-brand-icon .slogan_brand tspan {
    font-family: var(--font2);
  }
  /* NAVBAR BRAND ICON */
  
  body {
    background-image: url('img/dummy/background.jpg')!Important;
  }
  
  

  :root {
    --color1: #ce7b3b/* color1 */;
    --color2: #86a7a5/* color2 */;
    --color3: #dc8050/* color3 */;
    --background1: #f2f5ef/* background1 */;
    --background2: $background2/* background2 */;
    --text-base: #2c4650/* text-base */;
    --heading-base: #2c4650/* heading-base */;
    --font1: 'Amaranth', sans-serif/* font1 */;
    --font2: 'Cardo', serif/* font2 */;
    --F-h1: 2.5rem/* F-h1 */;
    --F-h2: 1.5rem/* F-h2 */;
    --F-h3: 1rem/* F-h3 */;
    --F-h4: .8rem/* F-h4 */;
    --F-h5: .8rem/* F-h5 */;
    --F-h6: .8rem/* F-h6 */;
    --F-p: .8rem/* F-p */;
    --fontsp: .8rem/* F-p */;
    --fontgen: .8rem/* F-p */;
    font-size: calc(15px + (16 - 14) * ((100vw - 300px) / (1000 - 300))); }

  
  html {
    height: 100%; }
  
  body {
    height: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--background1);
    min-height: 100%;
    color: var(--text-base);
    margin: 0 auto;
    max-width: 2100px; }
  
  html {
    font-family: var(--font1);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-height: 100%;
    /* background-color: #fff; */ }
  
  #main_page {
    background-color: var(--background1); }
  
  article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block; }
  
  audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline; }