html, body {
    background-color: #fff;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
a {
    text-decoration: none;
    color: #dca61d;
}
.full-height {
    height: 100vh;
}
.c {
    text-align: center;
}
p {
    line-height: 175%;
}
header {
    border-top: 3px #F7C64A solid;
    box-shadow: 0 6px 48px rgba(69, 69, 69, 0.08);
    text-align: center;
    padding:25px;
    font-size: large;
}
.margeheader {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 5px auto;
}
.margeheader a {
    text-decoration: none;
    color:#333;
    padding: 5px 8px;
    font-size: medium;
}
.margium {
    display: block;
    margin: 0px auto;
    max-width: 1000px;
    position: inherit;
}
.margium-s {
    display: block;
    margin: 0px auto;
    max-width: 500px;
    position: inherit;
}
h1 {
    font-size: xx-large;
}
.incitation a {
    padding: 9px 25px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    margin:5px;
    border-radius: 3px;
}
a.plein {
    background-color: #F7C64A ;
}
.vide {
    height: 80px;
}
#presentation {
    background-image:url("{{ asset('img/premiere.jpg') }}");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 60px 0px;
}
#presentation h1{
    color: #fff;
    max-width: 620px;
}
#presentation p{
    color: #fff;
    max-width: 520px;
    margin-bottom: 50px;
    line-height: 175%;
}
.surcouche {
    position: absolute;
    top: 0; bottom: 0px ; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.6)
}

img.visuelvote {
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);

}
.card {
    background-color: white;
}
.liste {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px auto;
}
.liste img {
    width: 308px;
    border-radius: 5px;
}
.liste a {
    padding: 12px 12px 20px 12px;
    position: relative;
    text-decoration: none;
}
.liste span {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#484848;
    padding: 8px 12px;
}
#lecteur {
    height: 60px;
    width: 60px;
    background-image: url(../img/lecteur.svg);
    background-size: 60px;
    position: absolute;
    top: -70px;
    right: 50px;
    cursor: pointer;
}
footer {
    margin:35px 15px 20px 15px;
    color: #ababab;
   font-size: smaller;
    text-align: center;
}
.sousligne {
    width: 146px;
    margin-bottom: 18px;
    height: 1px; 
    opacity: 0.7;
    margin: 5px auto;
    background-color: #ababab;
}
input, textarea, button {
    padding: 12px 22px;
    margin: 4px;
    font-size: medium;
    background-color: #f5f5f5;
    color: black;
    border: 2px solid #f0f0f0;
    max-width: 480px;
    font-family: sans-serif;
    border-radius: 5px;
}
textarea {
    width: 100%;
}
input[type="file"] {
    border: 2px dashed #e0e0e0;
    width: 100%;
}
input[type="submit"], button{
    cursor:pointer;
    background-color: #F7C64A;
    border:0px;
    color: white;
    margin: 8px;
   }
   input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
   }
   form {
    display: flex;
    flex-direction: column;
    max-width: 446px;
    margin: 15px auto;
    align-items: center;
   }
   label{
    text-align: left;
    width: 100%;
    margin-top: 8px;
   }
   form div {
       margin: 5px;
   }
@media (max-width: 1010px), handheld {
    .liste {
        max-width: 670px;
    }
 }
 @media (max-width: 680px), handheld {
    .liste {
        max-width: 330px;
    }
    .margeheader {
        display:flex;
        flex-direction: column;
    }
    .margeheader div {
        margin: 15px 0px;
    }
 }