/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
  ## Links
  ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
  ## Posts and pages
  ## Comments
# Infinite scroll
# Media
  ## Captions
  ## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
:root {
    --color1: #ce7b3b/* color1 */;
    --color2: #86a7a5/* color2 */;
    --color3: #dc8050/* color3 */;
    --background1: #f2f5ef/* background1 */;
    --background2: $background2/* background2 */;
    --text-base: #2c4650/* text-base */;
    --heading-base: #2c4650/* heading-base */;
    --font1: 'Amaranth', sans-serif/* font1 */;
    --font2: 'Cardo', serif/* font2 */;
    --F-h1: 2.5rem/* F-h1 */;
    --F-h2: 1.5rem/* F-h2 */;
    --F-h3: 1rem/* F-h3 */;
    --F-h4: .8rem/* F-h4 */;
    --F-h5: .8rem/* F-h5 */;
    --F-h6: .8rem/* F-h6 */;
    --F-p: .8rem/* F-p */;
    --fontsp: .8rem/* F-p */;
    --fontgen: .8rem/* F-p */;
    font-size: calc(15px + (16 - 14) * ((100vw - 300px) / (1000 - 300))); }
  
  
  /* NAVBAR BRAND ICON */
  .navbar-brand-icon .element_inner {
    fill: var(--color1);
  }
  
  .navbar-brand-icon .element_outer {
    fill: var(--color2);
  }
  
  .navbar-brand-icon .element_font {
    fill: var(--background1);
  }
  
  .navbar-brand-icon .title_brand,
  .navbar-brand-icon .title_brand tspan {
    font-family: var(--font1);
  }
  
  .navbar-brand-icon .slogan_brand,
  .navbar-brand-icon .slogan_brand tspan {
    font-family: var(--font2);
  }
  /* NAVBAR BRAND ICON */
  
  body {
    background-image: url('img/dummy/background.jpg')!Important;
  }
  
  
      
  ::-webkit-scrollbar {
    width: 3px; }
  
  ::-webkit-scrollbar-track {
    background: #ddd; }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color1); }
  
  html {
    height: 100%; }
  
  body {
    height: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--background1);
    min-height: 100%;
    color: var(--text-base);
    margin: 0 auto;
    max-width: 2100px; }
  
  html {
    font-family: var(--font1);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-height: 100%;
    /* background-color: #fff; */ }
  
  #main_page {
    background-color: var(--background1); }
  
  article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block; }
  
  audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline; }